body{
	background-color: rgb(217, 204, 186);
	font-family: 조선일보명조;
	margin: 0 auto;
}
header{
	height: 100px;
	width: 100%;
	text-align: center;
	background-color: black;
	margin-bottom: 100px;
}

header div{
	display: inline-block;
}

.logo{
	float: left;
	height: 100px;
	width: 15%;
	text-align: left;
}

.nav{
	height: 100px;
	text-align: center;
}

.nav ul{
	top: 50%;
	bottom: 50%
	margin: 0 auto;
	padding: 0;
}

.nav ul li{
	list-style-type: none;
	padding: 25px;
	display: inline-block;
	font-size: 18px;
}

.nav ul li a{
	text-decoration: none;
	color: white;
}

.nav ul li a:hover{
	color: black;
	background-color: white;
}

.login{
	height: 100px;
	width: 15%;
	float: right;
}

.login ul{
	top: 50%;
	bottom: 50%
	margin: 0;
	padding: 0;
}

.login ul li{
	list-style-type: none;
	padding: 25px;
	display: inline-block;
	font-size: 16px;
}

.login ul li a{
	text-decoration: none;
	color: white;
}

.login ul li a:hover{
	color: black;
	background-color: white;
}

main{
	height: 1000px;
	width: 80%;
	text-align: center;
	margin: 0 auto;
	background-color: white;
	margin-bottom: 100px;
}

main div{
	display: inline-block;
	vertical-align: middle;
}

.list_logo{
	height: 130px;
	width: 100%;
}

.list_menu{
	margin-top: 5%;
	height: 80px;
	width: 100%;
	display: inline-block;
	text-align: center;
}

.list_menu div{
	display: inline-block;
}

.list_category{
	margin-left: 15%;
	float: left;
	font-size: 25px;
	font-weight: bold;
}

.list_filter{
	margin-right: 15%;
	float: right;
}

.list_filter ul{
}

.list_filter ul li{
	display: inline-block;
}

.list_filter ul li a{
	text-decoration: none;
	color: black;
}

.list_filter ul p{
	display: inline-block;
}

.list_item{
	margin-top: 50px;
	height: 600px;
	width: 100%;
	display: inline-block;
	font-family: initial;
	letter-spacing: -1px;
}

.item1{
	margin-left: 15%;
	margin-right: 50px;
	width: 300px;
	float: left;
}

.item1 a{
	text-decoration: none;
	color: black;
}

.OneFineDay_line1{
	font-weight: bold;
	width: 300px;
}

.OneFineDay_name{
	float: left;
}

.OneFineDay_cost{
	font-size: 20px;
	float: right;
}

.OneFineDay_line2{
	font-size: 12px;
	text-align: left;
	width: 300px;
	color: gray;
}

.item2{
	width: 300px;
	float: left;
}

.item2 a{
	text-decoration: none;
	color: black;
}

.ModernGrass_line1{
	font-weight: bold;
	width: 300px;
}

.ModernGrass_name{
	float: left;
}

.ModernGrass_cost{
	font-size: 20px;
	float: right;
}

.ModernGrass_line2{
	font-size: 12px;
	text-align: left;
	width: 300px;
	color: gray;
}

footer{
	height: 150px;
	background-color: white;
	text-align: center;
	font-size: 15px;
}

footer div{
	display: inline-block;
	vertical-align: middle;
}

.corporate_num{
	padding-top: 25px;
	height: 200px;
	width: 300px;
}

.account_num{
	padding-top: 25px;
	height: 200px;
	width: 300px;
}

.insta_link{
	padding-top: 25px;
	height: 200px;
	width: 300px;
}